# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# Local files
.local-*

# Temporary files
.tmp-*
tmp/

# Coverage artifacts
coverage.out
coverage.html
